In [1]:
# Dataset: satandar.csv
# location: https://mitu.co.in/dataset

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('satandar.csv')
df.head(3)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.03,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.77,0

In [5]:
df.shape

(76020, 371)

In [6]:
df.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=371)

## Univariate

In [7]:
# remove those with low variance

In [8]:
from sklearn.feature_selection import VarianceThreshold

In [16]:
fs = VarianceThreshold(threshold= 1)

In [17]:
fs.fit(df)

VarianceThreshold(threshold=1)

In [18]:
fs.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False,  True,  True, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,
       False, False,  True, False, False, False,  True, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False])

In [19]:
new_df = df.iloc[:,fs.get_support()]

In [20]:
new_df.shape

(76020, 183)

## Multivariate

In [27]:
df = pd.read_csv('satandar.csv', nrows= 20000)

In [28]:
# dropping duplicate features

In [29]:
df.shape

(20000, 371)

In [30]:
n_df = df.T

In [31]:
n_df

,0,1,2,3,4,5,6,7,8,9,...,19990,19991,19992,19993,19994,19995,19996,19997,19998,19999
ID,1.00,3.00,4.00,8.00,10.000000,13.00,14.00,18.00,20.00,23.00,...,40048.000000,40049.00,40050.00,40052.000000,40053.00,40055.000000,40058.00,40059.0,40065.00,40066.00
var3,2.00,2.00,2.00,2.00,2.000000,2.00,2.00,2.00,2.00,2.00,...,2.000000,2.00,2.00,13.000000,2.00,2.000000,2.00,2.0,2.00,2.00
var15,23.00,34.00,23.00,37.00,39.000000,23.00,27.00,26.00,45.00,25.00,...,39.000000,23.00,23.00,32.000000,23.00,23.000000,25.00,24.0,73.00,25.00
imp_ent_var16_ult1,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.000000,900.00,0.000000,0.00,0.0,0.00,0.00
imp_op_var39_comer_ult1,0.00,0.00,0.00,195.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,21.540000,0.00,0.000000,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
saldo_medio_var44_hace3,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.0,0.00,0.00
saldo_medio_var44_ult1,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.0,0.00,0.00
saldo_medio_var44_ult3,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.0,0.00,0.00
var38,39205.17,49278.03,67333.77,64007.97,117310.979016,87975.75,94956.66,251638.95,101962.02,356463.06,...,117310.979016,49074.63,31090.29,117310.979016,92330.19,117310.979016,86339.04,74521.2,138092.43,70378.98
TARGET,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.0,0.00,0.00

In [35]:
n_df.drop_duplicates(inplace= True)